.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background: var(--secondary-color);
  background-image: linear-gradient(
    to right,
    var(--linear-gradient),
    var(--linear-gradient)
  ),
  url("../images/hero-mob1x.jpg");
  background-repeat: no-repeat;
  background-position:center ;
  background-size: cover;
 
  
  @media (min-device-pixel-ratio: 2) and (min-width: 480px),
    (min-resolution: 192dpi) and (min-width: 480px),
    (min-resolution: 2dppx) and (min-width: 480px) {
    background-image: linear-gradient(
    to right,
    var(--linear-gradient),
    var(--linear-gradient)
  ),
      url("../images/hero-mob2x.jpg");
  }

   @media screen and (min-width: 768px) {
    background-image: linear-gradient(
    to right,
    var(--linear-gradient),
    var(--linear-gradient)
  ),
      url("../images/hero-tab1x.jpg");
    
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(
    to right,
    var(--linear-gradient),
    var(--linear-gradient)
  ),
      url("../images/hero-tab2x.jpg");
   
  }
  
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
    to right,
    var(--linear-gradient),
    var(--linear-gradient)
  ),
      url("../images/hero-com1x.jpg");
    
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
    (min-resolution: 192dpi) and (min-width: 1200px),
    (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
    to right,
    var(--linear-gradient),
    var(--linear-gradient)
  ),
      url("../images/hero-com2x.jpg");
 
  }


  
}
//  
.hero-section__hero-text {
font-weight: 900;
font-size: 26px;
line-height: 1.61;
color: var(--hero-color);
text-transform: uppercase;
text-align: center;
white-space: pre-wrap;
margin-bottom: 30px;
   @media screen and (min-width: 1200px) {
font-size: 44px;
line-height: 1.36;
    } 
  
}

.hero-section__box-button {
  text-align: center;
}




.hero {
    max-width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;
}


