.backdrop {
 position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--modal-back-color);
    opacity: 1;
    transition: opacity var(--duration) var(--cubic-bezier);
  &--is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--duration) var(--cubic-bezier),
  transform var(--duration) var(--cubic-bezier)
  
}

}



.backdrop__modal  {
position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    max-width: 450px;
    max-height: 609px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
background-color: var(--hero-color);
box-shadow: var(--box-shadow);
border-radius: 4px;
transition: transform var(--duration) var(--cubic-bezier);



@media screen and (min-width: 1200px) {
max-width: 528px;
max-height: 581px;  } 
  
.backdrop--is-hidden & {
  transform: translate(-50%, -50%) scale(0);
  @media screen and (max-width: 767px){
  padding: 93px 15px 94px;
}
}
}


.backdrop__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  @extend %centered-flex;
  padding: 0;
  border: 1px solid var(--color-close-button);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--hero-color);
  transition: fill var(--duration) var(--cubic-bezier);
&:hover,
&:focus {
fill: var(--accent-color);
  }
  }

