.filter-list {
 display: flex;
 flex-wrap: wrap;
 margin-bottom: 40px;

  @media screen and (min-width: 768px) { 
     align-items: center;
    justify-content: center;
  margin-bottom: 30px;  } 
  
@media screen and (min-width: 1200px) {
     margin-bottom: 50px;  } 
}


.filter-list__item {
margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 8px;
}
&:nth-last-child(-n+2) {
    margin-bottom: 0px;
}
@media screen and (min-width: 768px) { 
     &:nth-last-child(-n+5) {
    margin-bottom: 0px;
}  } 

}




  

.filter-list__button {
color: var(--main-color);
min-width: 128px;
transition: color var(--duration) var(--cubic-bezier),
background-color var(--duration) var(--cubic-bezier),
box-shadow var(--duration) var(--cubic-bezier);
&:hover,
&:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow-portfolio);
}
&--color-accent {
color: var(--hero-color);
min-width: 73px;
background-color: var(--accent-color);
}

}





