.logo {
  display: block;
  font-family: "Raleway"; 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  color: var(--accent-color);
  text-decoration: none;
}

.logo--directions-top-bottom {
  padding-top: 16px;
  padding-bottom: 16px;
   @media screen and (min-width: 768px) { 
     padding-top: 26px;
  padding-bottom: 26px;    } 
   @media screen and (min-width: 1200px) {
     padding-top: 24px;
  padding-bottom: 25px;   } 
  }


.logo__span-header {
 color: var(--main-color);
}
  
.logo__span-footer {
  color: var(--hero-color);
}