.mobile-nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 10;
    background-color: var(--hero-color);
     transition: opacity var(--duration) var(--cubic-bezier);

    
    .container-mobile {
        position: relative;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vw;
    }
    .menu-close {
    position: absolute;
    right: 15px;
    top: 10px;
    

}
}

.menu-open, .menu-close {
  width: 40px;
height: 40px;
padding: 0;
cursor: pointer;
background-color: var(--hero-color);
transition: fill var(--duration) var(--cubic-bezier);
&:hover, 
&:focus {
    fill: var(--accent-color);
}

@media screen and (min-width: 768px) { 
display: none;
  } 
}



.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}


.mobile-menu__link {
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--main-color);
 transition: color var(--duration) var(--cubic-bezier);
}

.mobile-menu__link--active {
  color: var(--accent-color);
}

.mobile-contacts__item:first-child {
    margin-bottom: 32px;
}
.mobile-contacts__link {
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: var(--secondary-color);
}

.mobile-contacts__link--accent-color {
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--accent-color);
}

.mobile-social__link {
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--accent-color);

}
.mobile-social__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--border-modal-input);
}


.mobile-social {
    display: flex;

}
