.preference-list {
  // display: flex;
  margin-bottom: -30px;
   @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
   }
    

}

.preference-list__item {
  margin-bottom: 30px;

   @media screen and (min-width: 768px) {
  flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
   }

   @media screen and (min-width: 1200px) {     
     flex-basis: calc((100% - 120px) / 4);   
    }  
}
.preference-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: var(--gray-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {     
     width: 270px; 
    }  
}

.preference-list__title {
font-weight: bold;
font-size: 14px;
line-height: 1.1;
text-transform: uppercase;
margin-bottom: 10px;
}

.preference-list__text {
font-size: 14px;
line-height: 1.7;
color: var(--secondary-color);
letter-spacing: 0.03em;
}